asgiref
backports.zoneinfo
cffi
cryptography
dj-database-url
Django
django-environ
django-health-check
django-jazzmin
djangorestframework
gunicorn
packaging
pillow
psycopg2-binary
pycparser
pyscopg2
pytz
sqlparse
typing-extensions
whitenoise
